In [3]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Create dataframes from CSV files
indeed_data_df = pd.read_csv('Resources/indeed_data.csv')
dice_data_df = pd.read_csv('Resources/dice_data.csv')
jobs_data_df = pd.read_csv('Resources/jobs_data.csv')

#### Indeed

In [ ]:
# Clean up dataframe
# indeed_data_df.describe()
indeed_data_df = indeed_data_df[['position','company','description','location']]
indeed_data_df[['location','State']] = indeed_data_df['location'].str.split(',',expand=True)
indeed_data_df[['State','Zip Code']] = indeed_data_df['State'].str.split(expand=True)
indeed_data_df.head()

#### Dice

In [5]:
# Clean up dataframe
# dice_data_df.describe()
dice_data_df = dice_data_df[['jobtitle','jobdescription','employmenttype_jobstatus',
                             'company','joblocation_address','shift','skills']]

In [6]:
dice_data_df[['joblocation_address','State','Zip Code']] = dice_data_df['joblocation_address'].str.split(',',expand=True)
dice_data_df = dice_data_df[['jobtitle','jobdescription','employmenttype_jobstatus',
                             'company','joblocation_address','State','shift','skills']]
dice_data_df.head()

,jobtitle,jobdescription,employmenttype_jobstatus,company,joblocation_address,State,shift,skills
0,AUTOMATION TEST ENGINEER,Looking for Selenium engineers...must have sol...,"C2H Corp-To-Corp, C2H Independent, C2H W2, 3 M...","Digital Intelligence Systems, LLC",Atlanta,GA,Telecommuting not available|Travel not required,SEE BELOW
1,Information Security Engineer,The University of Chicago has a rapidly growin...,Full Time,University of Chicago/IT Services,Chicago,IL,Telecommuting not available|Travel not required,"linux/unix, network monitoring, incident respo..."
2,Business Solutions Architect,"GalaxE.SolutionsEvery day, our solutions affec...",Full Time,"Galaxy Systems, Inc.",Schaumburg,IL,Telecommuting not available|Travel not required,"Enterprise Solutions Architecture, business in..."
3,"Java Developer (mid level)- FT- GREAT culture,...",Java DeveloperFull-time/direct-hireBolingbrook...,Full Time,TransTech LLC,Bolingbrook,IL,Telecommuting not available|Travel not required,Please see job description
4,DevOps Engineer,Midtown based high tech firm has an immediate ...,Full Time,Matrix Resources,Atlanta,GA,Telecommuting not available|Travel not required,"Configuration Management, Developer, Linux, Ma..."

In [ ]:
dice_data_df['joblocation_address'].value_counts()

In [ ]:
dice_data_df['company'].value_counts()

In [ ]:
dice_data_df['State'] = dice_data_df['State'].replace(
    {'Texas':'TX', 'Pa':'PA', 'Oh':'OH', 'Va':'VA', 'Md':'MD', 'Dc':'DC'})
dice_data_df['State'].value_counts()

In [ ]:
dice_data_scientist = dice_data_df[dice_data_df['jobtitle'].str.contains('Data Scientist')]
dice_data_scientist

In [ ]:
dice_engineer_jobs = dice_data_df[dice_data_df['jobtitle'].str.contains('Engineer')]
dice_engineer_jobs['jobtitle'].value_counts()

In [ ]:
dice_developer_jobs = dice_data_df[dice_data_df['jobtitle'].str.contains('Developer')]
dice_developer_jobs['jobtitle'].value_counts()

In [ ]:
dice_business_jobs = dice_data_df[dice_data_df['jobtitle'].str.contains('Business')]
dice_business_jobs['jobtitle'].value_counts()

#### Jobs Data

In [ ]:
# Clean up dataframe
jobs_data_df.head()
jobs_data_df = jobs_data_df[['job_title','company_name','city']]
jobs_data_df['city'] = jobs_data_df['city'].str.replace('+',' ')
jobs_data_df