In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json

In [2]:
# Create dataframes from CSV files
indeed_data_df = pd.read_csv('Resources/data_science_market.csv')
monster_data_df = pd.read_csv('Resources/monster_com-job_sample.csv')
dice_data_df = pd.read_csv('Resources/dice_com-job_us_sample.csv')
world_data_df = pd.read_csv('Resources/jobs_data.csv')

In [3]:
# Clean up dataframe
# indeed_data_df.describe()
indeed_data_df = indeed_data_df[['position','company','description','location']]
indeed_data_df[['location','State']] = indeed_data_df['location'].str.split(',',expand=True)
indeed_data_df[['State','Zip Code']] = indeed_data_df['State'].str.split(expand=True)
indeed_data_df.head()

,position,company,description,location,State,Zip Code
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,Atlanta,GA,30301
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",Atlanta,GA,None
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",Atlanta,GA,None
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,Atlanta,GA,30303
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,Atlanta,GA,None

In [4]:
# Clean up dataframe
# monster_data_df.describe()
monster_data_df = monster_data_df[['job_title','job_description','job_type',
                                   'location','organization','salary','sector']]

monster_data_df = monster_data_df[monster_data_df.location.str.len() <= 20]
monster_data_df['location'].value_counts()

Dallas, TX              646
Cincinnati, OH          384
Columbus, OH            345
Camphill, PA            333
Dallas, TX 75201        304
Houston, TX             223
Atlanta, GA             180
Austin, TX              145
San Antonio, TX         137
Location:               133
Chicago, IL             133
Columbus, OH 43215      131
Las Vegas, NV           112
Madison, WI             101
Boston, MA               96
Denver, CO               91
Cincinnati, OH 45202     90
Chicago, IL 60603        89
Knoxville, TN            70
Irving, TX               66
Las Vegas, NV 89119      63
New York, NY             60
Cincinnati, OH 45201     54
San Francisco, CA        53
Dallas, TX 75202         52
Seattle, WA              49
Chicago, IL 60601        47
Denver, CO 80202         44
Knoxville, TN 37917      44
Charlotte, NC            44
                       ...
26726                     1
AL                        1
Fort Worth, TX 76135      1
Davenport, IA 52804       1
Wichita, KS 67214         1
46805                     1
Salisbury, MD             1
Mulberry, FL 33860        1
Norristown, PA 19405      1
Apopka, FL 32703          1
Elkin, NC                 1
Madison, IN 47250         1
Phoenixville, PA          1
San Jose, CA 95138        1
Tulsa, OK 74105           1
Columbus, OH 43209        1
New YorkNY                1
Houston, TX 77010         1
Bafb, Aurora 80011        1
Starke 32091              1
Shandaken, NY 12480       1
Vancouver, WA 98661       1
Moline, IL                1
Cleveland, OH 44118       1
South Bend, IN 46556      1
Associate Scientist       1
Laurinburg, NC            1
Ukiah, CA                 1
Pacoima, CA 91333         1
Contact name GEICO        1
Name: location, Length: 5331, dtype: int64

In [5]:
monster_data_df[['location','State']] = monster_data_df['location'].str.split(',',expand=True)
monster_data_df[['State','Zip Code']] = monster_data_df['State'].str.split(expand=True)
monster_data.head()

ValueError: Columns must be same length as key

In [5]:
# Clean up dataframe
# dice_data_df.describe()
dice_data_df = dice_data_df[['jobtitle','jobdescription','employmenttype_jobstatus',
                             'company','joblocation_address','shift','skills']]
dice_data_df['joblocation_address'].value_counts()

New York, NY               1368
Atlanta, GA                1245
San Francisco, CA           886
Seattle, WA                 661
Boston, MA                  606
Houston, TX                 530
San Jose, CA                452
Sunnyvale, CA               402
Jersey City, NJ             360
Dallas, TX                  357
Alpharetta, GA              324
Chicago, IL                 318
Santa Clara, CA             303
Philadelphia, PA            275
Redmond, WA                 258
Washington, DC              256
Hartford, CT                249
New York City, NY           226
Bellevue, WA                215
Irving, TX                  213
Mountain View, CA           190
Plano, TX                   149
Sacramento, CA              142
San Ramon, CA               141
Palo Alto, CA               134
Austin, TX                  132
Pleasanton, CA              125
Los Angeles, CA             109
Nyc, NY                     102
San Diego, CA                99
                           ...
Kaysville, UT                 1
Unspecified, TX               1
Medley, FL                    1
Patuxent River, MD            1
Okemos, MI                    1
Getzville, NY                 1
Wauwatosa, WI                 1
Shawnee Mission, KS           1
Coconut Creek, FL             1
Braintree, MA                 1
Corvallis, OR                 1
Floral Park, NY               1
Merrimack, NH                 1
Ventura, CA                   1
South Portland, ME            1
Middleboro, MA                1
Monroe, NY                    1
Palm Bay,, FL                 1
Sausalito, CA                 1
Newburgh, NY                  1
Brainerd, MN                  1
Mechanicsburg, PA             1
Clinton, NJ                   1
Mequon, WI                    1
Hilliard, OH                  1
Park Ridge, IL                1
Rohnert Park, CA              1
Beaufort, SC                  1
Egg Harbor Township, NJ       1
Madison, MO                   1
Name: joblocation_address, Length: 1581, dtype: int64

In [ ]:
dice_data_df[['joblocation_address','State']] = dice_data_df['joblocation_address'].str.split(',',expand=True)
dice_data_df[['State','Zip Code']] = dice_data_df['State'].str.split(expand=True)
dice_data_df.head()

In [10]:
# Clean up dataframe
# world_data.describe()
world_data_df = world_data_df[['JobTitle','Company','Location']]
world_data_df.head()

,JobTitle,Company,Location
0,NaN,NaN,United States
1,Data Science Development Program- Junior Data ...,\n MassMutual,"Amherst, MA 01002"
2,Sr. Data Scientist,\n Catasys,Home Based
3,Object-oriented Programmer,\n Bank of America,"New York, NY 10281"
4,Entry-Level Cognitive / AI / Machine Learning ...,\n IBM,"Austin, TX 73344"