In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Create dataframes from CSV files
indeed_data_df = pd.read_csv('Resources/indeed_data.csv')
dice_data_df = pd.read_csv('Resources/dice_data.csv')
jobs_data_df = pd.read_csv('Resources/jobs_data.csv')

In [3]:
# Clean up dataframe
# indeed_data_df.describe()
indeed_data_df = indeed_data_df[['position','company','description','location']]
indeed_data_df[['location','State']] = indeed_data_df['location'].str.split(',',expand=True)
indeed_data_df[['State','Zip Code']] = indeed_data_df['State'].str.split(expand=True)
indeed_data_df.head()

,position,company,description,location,State,Zip Code
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,Atlanta,GA,30301
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",Atlanta,GA,None
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",Atlanta,GA,None
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,Atlanta,GA,30303
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,Atlanta,GA,None

In [4]:
# Clean up dataframe
# dice_data_df.describe()
dice_data_df = dice_data_df[['jobtitle','jobdescription','employmenttype_jobstatus',
                             'company','joblocation_address','shift','skills']]

dice_data_df.head()

,jobtitle,jobdescription,employmenttype_jobstatus,company,joblocation_address,shift,skills
0,AUTOMATION TEST ENGINEER,Looking for Selenium engineers...must have sol...,"C2H Corp-To-Corp, C2H Independent, C2H W2, 3 M...","Digital Intelligence Systems, LLC","Atlanta, GA",Telecommuting not available|Travel not required,SEE BELOW
1,Information Security Engineer,The University of Chicago has a rapidly growin...,Full Time,University of Chicago/IT Services,"Chicago, IL",Telecommuting not available|Travel not required,"linux/unix, network monitoring, incident respo..."
2,Business Solutions Architect,"GalaxE.SolutionsEvery day, our solutions affec...",Full Time,"Galaxy Systems, Inc.","Schaumburg, IL",Telecommuting not available|Travel not required,"Enterprise Solutions Architecture, business in..."
3,"Java Developer (mid level)- FT- GREAT culture,...",Java DeveloperFull-time/direct-hireBolingbrook...,Full Time,TransTech LLC,"Bolingbrook, IL",Telecommuting not available|Travel not required,Please see job description
4,DevOps Engineer,Midtown based high tech firm has an immediate ...,Full Time,Matrix Resources,"Atlanta, GA",Telecommuting not available|Travel not required,"Configuration Management, Developer, Linux, Ma..."

In [13]:
# Clean up dataframe
jobs_data_df.head()
jobs_data_df = jobs_data_df[['job_title','company_name','city']]
jobs_data_df['city'] = jobs_data_df['city'].str.replace('+',' ')
jobs_data_df

,job_title,company_name,city
0,Junior Data Analyst,APPS Paramedical,New York
1,Intelligence Analyst,Mulligan Security,New York
2,Customer Data Analyst,Michael Kors,New York
3,Risk Data Analyst,"MoneyLion, Inc",New York
4,"Data Analyst, Gas Materials & Standards",NATIONAL GRID CO USA (NE POWER),New York
5,Health Care Data Analyst,UBMD Pediatrics,New York
6,Network Data Management Junior Analyst,Centers Plan for Healthy Living,New York
7,Data Analyst- Ad and Brand,Phoenix Marketing International,New York
8,Data Analyst- Entry Level Job,KGS Technology Group Inc,New York
9,Data Analyst,"KGS Technology Group, Inc.",New York
10,"Data Analyst, Mortgages",dv01,New York
11,Data Analyst,KGS Technology Group Inc,New York
12,"Data Analyst, Development Unit",NEW YORK LEGAL ASSISTANCE GROUP,New York
13,Supply Chain Data Analyst,PepsiCo,New York
14,Data Analyst,BentoBox,New York
15,Data Analyst*** - Manhattan/New York,Lennon Wright Associates,New York
16,Risk Data Analyst,"MoneyLion, Inc",New York
17,Data Analyst- Ad and Brand,Phoenix Marketing International,New York
18,Data Analyst,Tri-County Care,New York
19,Customer Data Analyst,Michael Kors,New York
20,Network Data Management Junior Analyst,Centers Plan for Healthy Living,New York
21,"Data Analyst, Gas Materials & Standards",NATIONAL GRID CO USA (NE POWER),New York
22,Customer Service Analyst,Bloomberg,New York
23,Intelligence Analyst,Mulligan Security,New York
24,Data Analyst- Ad and Brand,Phoenix Marketing International,New York
25,Health Care Data Analyst,UBMD Pediatrics,New York
26,Data Analyst,BentoBox,New York
27,Data Analyst,Girl Scouts of the USA,New York
28,Technical Analyst or Business Analyst,"KMR Information Systems, Inc.",New York
29,Senior Data Analyst,CASES,New York
...,...,...,...
10678,Tech Ops Support Engineer,Riskonnect Inc,Chicago
10679,Software Engineer,Label Insight,Chicago
10680,Research Engineer,DePaul University,Chicago
10681,Data Science Engineer,MedPro Group,Chicago
10682,Software Development Engineer in Test (SDET),Options Clearing Corporation,Chicago
10683,Lead Data Engineer,HNI Corporation,Chicago
10684,Data Engineer,PNC Financial Services Group,Chicago
10685,Data/Business Intelligence Engineer,Comcast,Chicago
10686,Data Engineer - Spark,ITL USA,Chicago
10687,Data Engineer,"SMS Assist, LLC",Chicago
10688,!Data Integrations & Software Engineer-Healthcare,Strivant Health,Chicago
10689,Network Engineer,American Medical Association,Chicago
10690,Software Engineering,JP Morgan Chase,Chicago
10691,Manufacturing & Process Engineer-PCB Assembly,Molex,Chicago
10692,Infrastructure Engineering - DevOps / Implemen...,JP Morgan Chase,Chicago
10693,Sr Systems Engineer,Motorola Solutions,Chicago
10694,"Sr. Associate, Big Data Software Engineer",KPMG,Chicago
10695,Senior Python Engineer - IT,Ipsos North America,Chicago
10696,Quantitative Developer FEATURED,Galaxy Tek Hires,Chicago
10697,Senior Software Developer & Data Engineer,ServerCentral Turing Group,Chicago
10698,Project Engineer,Chicago Commercial Contractors (CCC),Chicago
10699,Research Engineer,DePaul University,Chicago
10700,Data Science Engineer,MedPro Group,Chicago
10701,Software Development Engineer in Test (SDET),Options Clearing Corporation,Chicago
10702,Lead Data Engineer,HNI Corporation,Chicago
10703,Data Engineer,PNC Financial Services Group,Chicago
10704,Data/Business Intelligence Engineer,Comcast,Chicago
10705,Data Engineer - Spark,ITL USA,Chicago
10706,Data Engineer,"SMS Assist, LLC",Chicago
10707,!Data Integrations & Software Engineer-Healthcare,Strivant Health,Chicago