In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json

In [2]:
# Create dataframes from CSV files
indeed_data_df = pd.read_csv('Resources/data_science_market.csv')
monster_data_df = pd.read_csv('Resources/monster_com-job_sample.csv')
dice_data_df = pd.read_csv('Resources/dice_com-job_us_sample.csv')
world_data_df = pd.read_csv('Resources/jobs_data.csv')

In [5]:
# Clean up dataframe
# indeed_data_df.describe()
indeed_data_df = indeed_data_df[['position','company','description','location']]
indeed_data_df.head()

,position,company,description,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...","Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...","Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,"Atlanta, GA"

In [11]:
# Clean up dataframe
# monster_data_df.describe()
monster_data_df = monster_data_df[['job_title','job_description','job_type',
                                   'location','organization','salary','sector']]
monster_data_df.head()

,job_title,job_description,job_type,location,organization,salary,sector
0,IT Support Technician Job in Madison,TeamSoft is seeing an IT Support Specialist to...,Full Time Employee,"Madison, WI 53702",NaN,NaN,IT/Software Development
1,Business Reporter/Editor Job in Madison,The Wisconsin State Journal is seeking a flexi...,Full Time,"Madison, WI 53708",Printing and Publishing,NaN,NaN
2,Johnson & Johnson Family of Companies Job Appl...,Report this job About the Job DePuy Synthes Co...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,NaN,NaN
3,Engineer - Quality Job in Dixon,Why Join Altec? If you’re considering a career...,Full Time,"Dixon, CA",Altec Industries,NaN,Experienced (Non-Manager)
4,Shift Supervisor - Part-Time Job in Camphill,Position ID# 76162 # Positions 1 State CT C...,Full Time Employee,"Camphill, PA",Retail,NaN,Project/Program Management

In [12]:
# Clean up dataframe
# dice_data_df.describe()
dice_data_df = dice_data_df[['jobtitle','jobdescription','employmenttype_jobstatus',
                             'company','joblocation_address','shift','skills']]
dice_data_df.head()

,jobtitle,jobdescription,employmenttype_jobstatus,company,joblocation_address,shift,skills
0,AUTOMATION TEST ENGINEER,Looking for Selenium engineers...must have sol...,"C2H Corp-To-Corp, C2H Independent, C2H W2, 3 M...","Digital Intelligence Systems, LLC","Atlanta, GA",Telecommuting not available|Travel not required,SEE BELOW
1,Information Security Engineer,The University of Chicago has a rapidly growin...,Full Time,University of Chicago/IT Services,"Chicago, IL",Telecommuting not available|Travel not required,"linux/unix, network monitoring, incident respo..."
2,Business Solutions Architect,"GalaxE.SolutionsEvery day, our solutions affec...",Full Time,"Galaxy Systems, Inc.","Schaumburg, IL",Telecommuting not available|Travel not required,"Enterprise Solutions Architecture, business in..."
3,"Java Developer (mid level)- FT- GREAT culture,...",Java DeveloperFull-time/direct-hireBolingbrook...,Full Time,TransTech LLC,"Bolingbrook, IL",Telecommuting not available|Travel not required,Please see job description
4,DevOps Engineer,Midtown based high tech firm has an immediate ...,Full Time,Matrix Resources,"Atlanta, GA",Telecommuting not available|Travel not required,"Configuration Management, Developer, Linux, Ma..."

In [10]:
# Clean up dataframe
# world_data.describe()
world_data_df = world_data_df[['JobTitle','Company','Location']]
world_data_df.head()

,JobTitle,Company,Location
0,NaN,NaN,United States
1,Data Science Development Program- Junior Data ...,\n MassMutual,"Amherst, MA 01002"
2,Sr. Data Scientist,\n Catasys,Home Based
3,Object-oriented Programmer,\n Bank of America,"New York, NY 10281"
4,Entry-Level Cognitive / AI / Machine Learning ...,\n IBM,"Austin, TX 73344"